<h1>{{title}}</h1>
<img src="/images/javaimg.jpg" alt="" />
<h3>Yeah you know this was added from my phone</h3>
<h2>The known points are colored, the mystery point is grey, and the result of the kNN guess is signified by the colored radius around the mystery point. The radius encapsulates the 3 nearest neighbors. A new random mystery point is solved for every second:
</h2>
<canvas id="canvas" width=400 height=400></canvas>
<h3>I need to make sure to literally do this daily, maybe make a habit of implementing something new from every day that i learned, enjoyed, or see being useful</h3>
<h3>hey hey heeeeey i'm always adding to that code streeeak</h3>
