<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="/javascripts/neural.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
<nav><a href="www.javanet.herokuapp.com">Its explosive and computationally expensive to run a neural net and process random data points at this speed, could melt your processors</a></nav>
    {{{body}}}
  </body>
</html>
