<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="/javascripts/neural.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
<aside><p>This aside was coded from my phone using git2go, fun stuff, git streaks be in my future</p></aside>
<p>stupid stuff that gets me one commit</p><p>Theres a Lotta stuff that should probably not be the reason for streaking on github, like i'm hoping employers don't see any of the more stupid shit</p>
  </body>
</html>
